.order__deleteButton{
    float: right;
    position: relative;
    top: -35px;
    right: 20px;
    cursor: pointer;
    transition: 500ms ease;
}

.order__deleteButton:hover{
    transform: scale(1.25);
    opacity: 0.5;
}