.header__menu {
  float: right;
  list-style: none;
  margin: 0;
}

.header__menu li {
  display: inline;
  cursor: pointer;
  margin: 25px;
  transition: opacity 500ms ease;
}

.header__menu a{
  text-decoration: none;
  color: rgb(67, 66, 66);;
}

.header__menu li:hover {
  opacity: 0.5;
}

@media screen and (max-width: 700px) {
  .header__menu{
    display: none;
  }
}
