.categories {
  display: flex;
  margin-top: 70px;
  margin-left: 20px;
  flex-wrap: wrap;
}

@media screen and (max-width: 1000px) {
  .categories {
    max-width: 500px;
    margin: 70px auto 0;
  }
}
